h1{
    color:brown; 
 }
 img{
     display:block;
     margin: 0 auto;
     width: 400px;
 }
 .thirdDiv{
   width: 500px;
   height: 600px;
   background-color: blueviolet;
   padding:50px;
   border-color: coral;
   border-width: 0ch;
   border-style: inset;
  }
  .SpanId{
      margin: 50px;
  }